<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entertainnment hub</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/static/css/view-more.css" />
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div id="preloader">
    <div class="loader">
      <div class="inner"></div>
    </div>
  </div>

  <div id="main-content">
    <div id="global-header"></div>

    <!--Head-->
    <section class="head container" id="head">
      <div class="head-content swiper">
        <div class="swiper-wrapper" id="head-slides">
          <!-- Here the head slides are dynamically and randomly 7 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!--Head-->

    <!--Popular-->
    <section class="popular container slider-content" id="popular">
      <div class="heading">
        <h2 class="heading-title">Popular</h2>
        <div class="see-all-btn">
          <a href="/all-pop.html" class="see-all">
            See All
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="popular-content swiper">
        <div class="swiper-wrapper" id="popular-slides">
          <!-- Here the popular slides are dynamically and randomly 8 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
      </div>
    </section>
    <!--Popular-->

    <!--New-->
    <section class="new container slider-content" id="new">
      <div class="heading">
        <h2 class="heading-title">New Releases</h2>
        <div class="see-all-btn">
          <a href="/all-new.html" class="see-all">
            See All
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="new-content swiper">
        <div class="swiper-wrapper" id="new-slides">
          <!-- Here the new releases slides are dynamically and randomly 8 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
      </div>
    </section>
    <!--New-->

    <!--Most Watched-->
    <section class="most-watched container slider-content" id="most-watched">
      <div class="heading">
        <h2 class="heading-title">Most Watched</h2>
        <div class="see-all-btn">
          <a href="/all-most-watched.html" class="see-all">
            See All
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="new-content swiper">
        <div class="swiper-wrapper" id="most-watched-slides">
          <!-- Here the most watched slides are dynamically and randomly 8 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
      </div>
    </section>
    <!--Most Watched-->

    <!--Top Rated-->
    <section class="top-rated container slider-content" id="top-rated">
      <div class="heading">
        <h2 class="heading-title">Top Rated</h2>
        <div class="see-all-btn">
          <a href="/all-top-rated.html" class="see-all">
            See All
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="new-content swiper">
        <div class="swiper-wrapper" id="top-rated-slides">
          <!-- Here the top rated slides are dynamically and randomly 8 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
      </div>
    </section>
    <!--Top Rated-->

    <!--Coming Soon-->
    <section class="coming-soon container slider-content" id="coming-soon">
      <div class="heading">
        <h2 class="heading-title">Coming Soon</h2>
        <div class="see-all-btn">
          <a href="/all-coming-soon.html" class="see-all">
            See All
            <i class="bx bx-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="new-content swiper">
        <div class="swiper-wrapper" id="coming-soon-slides">
          <!-- Here the coming soon slides are dynamically and randomly 8 are displayed using JavaScript -->
        </div>
        <div class="swiper-button-next" title="Next"></div>
        <div class="swiper-button-prev" title="Previous"></div>
      </div>
    </section>
    <!--Coming Soon-->

    <!--Footer-->
    <!--Footer-->
    <div id="global-footer"></div>
    <!--Footer-->
    <!--Footer-->
    <!--copyright-->
  </div>

  <script src="/static/js/swiper-bundle.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/head-slides.js"></script>
  <script src="/static/js/popular-slides.js"></script>
  <script src="/static/js/new-releases-slides.js"></script>
  <script src="/static/js/most-watched.js"></script>
  <script src="/static/js/top-rated.js"></script>
  <script src="/static/js/coming-soon-slides.js"></script>
</body>

</html>
