<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entertainnment hub</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/franchises.css" />
  <link rel="stylesheet" href="/static/css/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div id="preloader">
    <div class="loader">
      <div class="inner"></div>
    </div>
  </div>

  <div id="main-content">
    <div id="global-header"></div>

    <!-- Franchises Section -->
    <section class="franchises-section container">
      <!-- Franchise cards -->
    </section>
    <!-- End of Franchises Section -->

    <!--Footer-->
    <div id="global-footer"></div>
    <!--Footer-->

    <script src="/static/js/main.js"></script>
    <script src="/static/js/franchise.js"></script>
</body>

</html>
